{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-sm">
                <h2 class="card-title text-center mb-4">Iniciar Sesión</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Usuario</label>
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña</label>
                        {{ form.password }}
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            Tu usuario y/o contraseña no coinciden.
                        </div>
                    {% endif %}
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}